/***************
RESET
***************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
  }

body {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url(../img/background.jpg);
}

h4 {
    font-weight: bold;
}

.container {
    background-color: rgba(45, 45, 45, 0.8);
}

.col-3 {
    background-color: yellow;
}

.cover {
    width: 100%;
    object-fit: contain;
}

.card {
    color: white;
    background-color: rgb(33, 27, 27);
}

.card, .cover {
    border-radius: 20px;
}